<!DOCTYPE html>
<html lang="en">
<head>
	<title>Waxom</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800" rel="stylesheet">

	<script src="js/main.js" defer></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header_inner">
				<div class="logo_box">
					<a href="#"><img src="img/logo.png" alt="logo" class="logo"></a>
					<div class="logo_name">Waxom</div>
				</div>
				
				<nav class="menu">
					<ul>
						<li>
							<a class="menu_link" href="#">Home</a>
						</li>
						<li>
							<a class="menu_link" href="#">About Us</a>
						</li>
						<li>
							<a class="menu_link" href="#">Portfolio</a>
						</li>
						<li>
							<a class="menu_link" href="#">Features</a>
						</li>
						<li>
							<a class="menu_link" href="#">Blog</a>
						</li>
						<li>
							<a class="menu_link" href="#">Pricing</a>
						</li>
						<li>
							<a class="menu_link" href="#">Shortcodes</a>
						</li>
						<li>
							<a class="menu_link" href="#">Contact</a>
						</li>
						<li>
							<a class="menu_link calendar" id="calendar"></a>
						</li>
						<li>
							<a class="menu_link search_icon" id="search_icon"></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="intro" class="intro">
		<div class="container">
			<div class="intro_box">
				<a class="left_arrow"></a>
				<div class="intro_inner">
					<h2 class="intro_suptitle">Unique and Modern Design</h2>
					<h1 class="intro_title">Portfolio PSD Template</h1>
					
					<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>

					<div class="get_started_btn">
						<a href="#" class="get_started btn">get started</a>
					</div>
				</div>
				<a class="right_arrow"></a>
			</div>

			<div class="second_menu_logo" id="menu_copy">
				<a class="second_menu_icon"><i class="fa fa-toggle-down"></i></a>
					<div class="second_menu" id="second_menu">
					<ul>
						<li>
							<a class="menu_link" href="#">Home</a>
						</li>
						<li>
							<a class="menu_link" href="#">About Us</a>
						</li>
						<li>
							<a class="menu_link" href="#">Portfolio</a>
						</li>
						<li>
							<a class="menu_link" href="#">Features</a>
						</li>
						<li>
							<a class="menu_link" href="#">Blog</a>
						</li>
						<li>
							<a class="menu_link" href="#">Pricing</a>
						</li>
						<li>
							<a class="menu_link" href="#">Shortcodes</a>
						</li>
						<li>
							<a class="menu_link" href="#">Contact</a>
						</li>
						<li>
							<a class="menu_link calendar" id="calendar"></a>
						</li>
						<li>
							<a class="menu_link search_icon" id="search_icon"></a>
						</li>
					</ul>
					</div>
			</div>
			<div class="intro_slider">
				<div class="slider_inner">
					<ul>
						<li>
							<span class="intro_dot" id="01"></span>
						</li>
						<li>
							<span class="intro_dot active_dot" id="02"></span>
						</li>
						<li>
							<span class="intro_dot" id="03"></span>
						</li>
						<li>
							<span class="intro_dot" id="04"></span>
						</li>
						<li>
							<span class="intro_dot" id="05"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="waxom_form_news" class="waxom_form_news">
		<div class="news_form">
			<form class="publish" id="publish" method="GET">
				<div class="news_box">
					<div class="news_window close_window">
						<a class="close_news"><i class="fa fa-times-circle" id="close_news_btn"></i></a>
						<p class="news_desc">
							If you want to have the list of news, please push "Reload news" button first, and than "Read it". As a result you will have all new news in last 30 minutes.Enjoy!
						</p>
						<div class="news_btns">
							<input type="button" class="news_btn" id="news_read" value="Reload news"/>
							<input type="button" id="news_reload" class="news_btn" value="Read news"/>	
						</div>
					</div>	
				</div>
			</form>
		</div>	
	</section>
	<section class="waxom_options" id="waxom_options">
		<div class="container">
			<div class="options">
				<div class="option">
					<span class="option_logo web"></span>
					<div class="option_name">Web & App Design</div>
					<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>	
				</div>
				<div class="option active_option">
					<span class="option_logo development"></span>
					<div class="option_name">Development</div>
					<p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
				</div>
				<div class="option">
					<span class="option_logo customization"></span>
					<div class="option_name">Customization</div>
					<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
				</div>
				<div class="option">
					<span class="option_logo marketing"></span>
					<div class="option_name">Marketing</div>
					<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="waxom_presentation" id="waxom_presentation">
		<div class="container">
			<div class="title_ideas">
				Waxom is Realization of your Ideas.
			</div>
			<p class="presentation_desc">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
			<div class="browser_pictures">
				<img src="img/browser-left.png" alt="" class="browser_left" id="browser_left">
				<img src="img/browser-center.png" alt="" class="browser_center" id="browser_center">
				<img src="img/browser-right.png" alt="" class="browser_right" id="browser_right">
			</div>
		</div>
	</section>
	<section class="waxom_wordpress" id="waxom_wordpress">
		<div class="container">
			<div class="themes">
				<div class="theme_desc">
					<h2 class="waxom_wrdpress">
						<span>Waxom</span> Multipurpose WordPress Theme
					</h2>
					<p>Don't Forget to Rate the Template. Thanks so much!</p>		
				</div>
				<div class="btn_purchase">
					<a href="#" class="purchase_now btn" id="purchase_wordpress">Purchase Now</a>
				</div>
			</div>
		</div>
	</section>
	<section class="waxom_projects" id="waxom_projects">
		<div class="container">
			<div class="projects_desc">
				<h2 class="project_title">Our Latest Projects.</h2>
				<p>
				Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
				</p>

				<div class="projects_menu">
					<ul>
						<li><a href="#" id="all" class="project_btn button_active">All</a></li>
						<li><a href="#" id="web-design" class="project_btn">Web Design</a></li>
						<li><a href="#" id="mobile-app" class="project_btn">Mobile App</a></li>
						<li><a id="illustration" class="project_btn">Illustration</a></li>
						<li><a id="photography" class="project_btn">Photography</a></li>
					</ul>
				</div>
			</div>

				<div class="projects">
					<div class="project">
						<div class="picture">
							<img src="img/mobile_project.png" alt="" class="mobile">
							<a class="link"></a>
							<a class="lupa"></a>
						</div>
						<div class="description">
							<span>Claritas Etiam Processus</span>
							<div class="project_kategory">Photography, Nature</div>
						</div>
					</div>
					<div class="project">
						<div class="picture pict_active">
							<img src="img/nature_project_active.png" alt="" class="sea_first active_img">
							<a class="link link_active"></a>
							<a class="lupa lupa_active"></a>
						</div>
						<div class="description active_desc">
							<span>Quam Nutamus Farum</span>
							<div class="project_kategory active_category">Graphic Design, Mock-Up</div>
						</div>
					</div>
					<div class="project">
						<div class="picture">
							<img src="img/book_project.png" alt="" class="book">
							<a class="link"></a>
							<a class="lupa"></a>
						</div>
						<div class="description">
							<span>Usus Legentis Videntur</span>
							<div class="project_kategory">Photography, Holiday</div>
						</div>
					</div>
					<div class="project">
						<div class="picture">
							<img src="img/nature_project_beards.png" alt="" class="beards">
							<a class="link"></a>
							<a class="lupa"></a>
						</div>
						<div class="description">
							<span>Claritas Etiam Processus</span>
							<div class="project_kategory">Photography, Nature</div>
						</div>
					</div>
					<div class="project">
						<div class="picture">
							<img src="img/magazine+project.png" alt="" class="magazine">
							<a class="link"></a>
							<a class="lupa"></a>
						</div>
						<div class="description">
							<span>Usus Legentis Videnturs</span>
							<div class="project_kategory">Photography, Holiday</div>
						</div>
					</div>
					<div class="project">
						<div class="picture">
							<img src="img/nature_project_sea.png" alt="" class="sea_second">
							<a class="link"></a>
							<a class="lupa"></a>
						</div>
						<div class="description">
							<span>Usus Legentis Videntur</span>
							<div class="project_kategory">Photography, Holiday</div>
						</div>
					</div>
				</div>
			<div class="load_more_btn">
				<a href="#" id="load-more" class="load_more btn">load more</a>
			</div>
		</div>
	</section>
	<section id="waxom-video-presentation" class="waxom-video-presentation">
				<div class="container">
					<div class="presentation_box">
						<a href="#" class="play_icon_btn"><i class="fa fa-play fa-2x"></i></a>
						<h2 class="title_presentation">
							Waxom Video Presentation
						</h2>
						<p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.</p>
						<div class="time">
							03:26
						</div>
					</div>
				</div>
	</section>
	<section id="waxom-for-mobile" class="waxom-for-mobile">
		<div class="container">
			<div class="mobile_box">
				<img src="img/iPhone-in-hand.png" class="iphone_img" alt="">
				<div class="for_mobile_devices">
					<h2 class="title_for_mobile">
						Excellent for Mobile Devices.
					</h2>
					<p>
						Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
					</p>
					<ul class="items_mobile_desc">
						<li>Nam liber tempor cum soluta nobis eleifend option;</li>
						<li>Option congue nihil imperdiet doming id quod mazim placerat facer;</li>
						<li>Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
						<li>Investigationes demonstraverunt lectores</li>
					</ul>
				</div>
			</div>			
		</div>
	</section>
	<section id="waxom-results" class="waxom-results">
		<div class="container">
			<div class="results_box">
				<div class="work_item ">
					<span class="logo_result satisf_clients"></span>
					<h2 class="counts">
						3587
					</h2>
					<h3>
						Satisfied Clients
					</h3>
				</div>
				<div class="work_item">
					<span class="logo_result coffee_cups"></span>
					<h2 class="counts">
						207
					</h2>
					<h3>
						Cups of coffee
					</h3>
				</div>
				<div class="work_item">
					<span class="logo_result blog_posts"></span>
					<h2 class="counts">
						2500
					</h2>
					<h3>
						Blog posts
					</h3>
				</div>
				<div class="work_item">
					<span class="logo_result likes"></span>
					<h2 class="counts">
						873
					</h2>
					<h3>
						Likes
					</h3>
				</div>
				<div class="work_item">
					<span class="logo_result launched"></span>
					<h2 class="counts">
						900
					</h2>
					<h3>
						We launched
					</h3>
				</div>				
			</div>		
		</div>
	</section>
	<section id="waxom-posts" class="waxom-posts">
		<div class="container">
			<div class="posts_box">
				<h2 class="title_posts">
					Recent Posts.
				</h2>
				<p>
					Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
				</p>
				<div class="posts">
					<div class="post">
						<div class="post_head">
							<img src="img/post_shoose.png" alt="" class="post_img">
							<div class="day">30</div>
							<div class="month">Sep.</div>
							<div class="slider_inner post_slider">
								<span id="dot_01" class="intro_dot"></span>
								<span id="dot_02" class="intro_dot active_dot"></span>
								<span id="dot_03" class="intro_dot"></span>
								<span id="dot_04" class="intro_dot"></span>
								<span id="dot_05" class="intro_dot"></span>
							</div>
						</div>
						<div class="post-desc">
							<h4 class="title_post_desc">
								Lorem ipsum dolor sit amet
							</h4>
							<h5 class="post_desc_text">
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
							</h5>
							<a href="#" class="read_more_post_btn">Read More</a> 
						</div>
					</div>
					<div class="post">
						<div class="post_head">
							<img src="img/post_notebook.png" alt="" class="post_img post_active_img">
							<div class="day day_active">30</div>
							<div class="month month_active">Sep.</div>
						</div>
						<div class="post-desc post_active">
							<h4 class="title_post_desc post_desc_title_active">
								Lorem ipsum dolor sit amet
							</h4>
							<h5 class="post_desc_text post_desc_text_active">
							Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
							</h5>
							<a href="#" class="read_more_post_btn post_btn_active">Read More</a> 
						</div>
					</div>
					<div class="post">
						<div class="post_head">
							<img src="img/post_sheep.png" alt="" class="post_img">
							<div class="day">30</div>
							<div class="month">Sep.</div>
						</div>
						<div class="post-desc">
							<h4 class="title_post_desc">
								Lorem ipsum dolor sit amet
							</h4>
							<h5 class="post_desc_text">
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</h5>
							<a href="#" class="read_more_post_btn">Read More</a> 	
						</div>
					</div>
				</div>
				<div class="posts_arrows">
					<a class="left_post"></a>
					<a class="right_post right_post_active"></a>
				</div>
			</div>
		</div>
	</section>
	<section id="waxom-clients" class="waxom-clients">
		<div class="container">
			<div class="clients_box">
				<img src="img/the-barber.png" alt="" class="client">
				<img src="img/delicious-products.png" alt="" class="client">
				<img src="img/designers.png" alt="" class="client">
				<img src="img/royal-cafe.png" alt="" class="client">
			</div>
		</div>
	</section>
	<section id="before-footer" class="before-footer">
		<div class="container">
			<div class="about">
				<div class="about_section">
					<a href="#">
						<img src="img/logo-footer.png" alt="logo-footer" class="logo_footer">
					</a>
					<div class="logo_footer_name">Waxom</div>
					<p class="about_desc title_desc">
						Lorem ipsum dolor sit amet, consec-tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
					</p>
					<a href="#" class="read_more_post_btn read_more_pre_footer">Read More</a>
				</div>
				<div class="about_section">
					<h2 class="pre_footer_title">
						Recent Posts
					</h2>
					<div class="block_date">
						<div class="date_time">
							<a href="#">September 08, 2015</a>
						</div>
						<p class="about_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					</div>
					<div class="block_date block_date_active">
						<div class="date_time date_time_active">
							<a href="#">September 08, 2015</a>
						</div>
						<p class="about_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
					</div>
					<div class="block_date">
						<div class="date_time">
							<a href="#">September 08, 2015</a>
						</div>
						<p class="about_desc">Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima</p>
					</div>
				</div>
				<div class="about_section">
					<h2 class="pre_footer_title">
						Our Twitter
					</h2>
					<div class="block_date tw_date">
						<p class="about_desc tw_desc"><span class="twitter_blue">@waxom</span> Cum soluta nobis eleifend option congue nihil imperdiet doming</p>
						<div class="date_time tw_time">
							<a href="#">3 mins ago</a>
						</div>
					</div>
					<div class="block_date tw_date">
						<p class="about_desc tw_desc">Mirum est <span class="twitter_blue">#envato</span> notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum</p>
						<div class="date_time tw_time">
							<a href="#">5 hours ago</a>
						</div>
					</div>
					<div class="block_date tw_date">
						<p class="about_desc tw_desc">Soluta nobis option <span class="twitter_user">bit.ly/1Hniso7</span></p>
						<div class="date_time tw_time">
							<a href="#">20 days ago</a>
						</div>
					</div>
				</div>
				<div class="about_section">
					<div class="pre_footer_title">
						Dribbble Widget
					</div>
					<div class="widget_pictures">
						<div class="widget_picture">
							<img src="img/widget_1.png" alt="" class="widget">
						</div>
						<div class="widget_picture">
							<img src="img/widget_2.png" alt="" class="widget">
						</div>

						<div class="widget_picture">
							<img src="img/widget_3.png" alt="" class="widget">
						</div>

						<div class="widget_picture">
							<img src="img/widget_4.png" alt="" class="widget">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="footer_menu">
				<div class="menu">
					<ul class="footer_menu_left">
						<li>
							<a href="#" class="menu_item">Copyright © 2015 <span class="footer_option">Waxom</span></a>
						</li>
						<li>
							<a href="#" class="menu_item">Privacy Policy</a>
						</li>
						<li>
							<a href="#" class="menu_item"><span class="faq">FAQ</span></a>
						</li>
						<li>
							<a href="#" class="menu_item">Support</a>
						</li>
					</ul>
				</div>
				<div class="menu">
					<ul class="footer_menu_left">
						<li>
							<a href="#" class="menu_item">Designed by <span class="footer_option">ThemeFire</span></a>
						</li>
						<li>
							<a href="#" class="menu_item">Only on <span class="footer_option">Envato Market</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>	
</body>
</html> 